.newsimg{
    max-width:304px;
    max-height:170px;
}

.card{
    max-width:330px;
    min-height:500px;
}

@media screen and (max-width: 995px) {
    .newsimg{
    max-width:334px;
   }
   .card{
    min-height: 450px;
   }
 }

 @media screen and (max-width: 575px) {
    
   .card{
    margin:auto;
   }
 }

 