.about{
    margin:30px auto 0px ;
    font-size: 30px;
    width:3.8cm;
    font-weight:bold ;
    
}
.innerdiv{
    border: 1px solid black;
    width:80%;
    
    margin: 15px auto 0px;
    box-sizing: border-box;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.innerdiv1{
    border-bottom: 1px solid black;
    padding: 7px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
}
.innerdiv2{
    padding: 0px 10px 10px 10px ;
    box-sizing: border-box;
    word-spacing:0.3mm;
    font-size: 18px;
    width:65%;
    word-wrap: break-word;
}
@media screen and (max-width: 1200px) {
   .innerdiv2{
   width:100%;
  }
}